html, body{
    margin: 0;
    padding : 0;
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 20%;
    background-color: rgb(120, 211, 120);
    border-radius: 8px;
}

.botoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    height: 60%;
}

.popUp{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 35%;
    align-items: center;
    visibility: hidden;
    position: absolute;
    background-color: rgb(169, 224, 137);
    border-radius: 10px;
    margin-top: 40px;
}

.botaoDado{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 100px;
    height: 100px;
    background-color: rgb(120, 211, 120);
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.botaoPop{
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 100px;
    height: 30px;
    background-color: rgb(159, 216, 67);
    color: white;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

.botaoDado:hover{
    background-color: rgb(100, 177, 100);
}

.botaoPop:hover{
    background-color: rgb(130, 200, 30);
}




