<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roleta de Dados RPG</title>
    <link rel="stylesheet" href="/style.css">

</head>

<script>
    
    window.onload = () => {
            // Declaração dos elementos do hmtl
            const popUp = document.querySelector('.popUp');
            const valorGeradoEl = document.getElementById('valor_gerado');
            const botaoPop = document.querySelector('.botaoPop');
            const botoesDado = document.querySelectorAll('.botaoDado'); 
            
            //Definição do popUp como invisivel
            popUp.style.visibility = 'hidden';

            //Botão 'confirmar' do popUp - fecha o popup
            botaoPop.addEventListener('click', () => {
                popUp.style.visibility = 'hidden';
            });

            // Função que cria uma função de onclick para cada botao
            botoesDado.forEach(botao => {
                botao.addEventListener('click', () => {
                    // ParseInt para pegar o valor do dado em int D10 -> 10
                    const tipoDado = parseInt(botao.id.replace('d', ''), 10); 
                    console.log('sapo')
                    
                    fetch('http://localhost:4000/rodarDados', { //Envio do tipo de dado que foi clicado
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ tipoDado }) 
                    })
                    .then(response => response.json()) // Captura da reposta recebida pelo controller 
                    .then(data => { // Pega o valor recebido pelo Json e atribui para o texto do Popup e exibindo-o
                        const valorGerado = data.valorGerado; 
                        valorGeradoEl.textContent = valorGerado; 
                        popUp.style.visibility = 'visible'; 
                    })
                    .catch(error => { // Catch caso aconteça algum erro
                        console.error('erro >:(', error);
                    });
                });
            });
        };

</script>


<body>
    
    <main class="main">
        <header class="header">
            <h1>Ambiente Configurado, escolha um dado para rodar</h1>
        </header>

        <div class="popUp">
            <h2>Valor gerado: </h2>
            <h2 id="valor_gerado"></h2>
            <button class="botaoPop">Confirmar</button>
        </div>

        <div class="botoes">
            <button id="d4" class="botaoDado">D4</button>
            <button id="d6" class="botaoDado">D6</button>
            <button id="d8" class="botaoDado">D8</button>
            <button id="d10" class="botaoDado">D10</button>
            <button id="d12" class="botaoDado">D12</button>
            <button id="d20"class="botaoDado">D20</button>
        </div>
    </main>


</body>
</html>